<app-list-page-layout
  [title]="'Classes'"
  [entity]="'Class'"
  [idField]="'classId'"
  [items]="classes()"
  [columns]="columns()"
  [loading]="loading()"
  [totalRecords]="totalRecords()"
  [pageSize]="pageSize"
  [emptyMessage]="'No classes found.'"
  (lazyLoad)="onLazyLoad($event)"
  (search)="search()"
  (clearFilters)="clearFilters()"
  [canCreate]="true"
  [baseRoute]="'staff/classes'"
  [service]="classService">

  <div list-filters class="filter-bar-content">
    <input
      pInputText
      [(ngModel)]="nameFilter"
      placeholder="Search by name"
      (keyup.enter)="search()" />
  </div>
</app-list-page-layout>