<app-list-page-layout
  [title]="'Courses'"
  [entity]="'Course'"
  [idField]="'courseId'"
  [items]="courses()"
  [columns]="columns()"
  [loading]="loading()"
  [totalRecords]="totalRecords()"
  [pageSize]="pageSize"
  [emptyMessage]="'No courses found.'"
  (lazyLoad)="onLazyLoad($event)"
  (search)="search()"
  (clearFilters)="clearFilters()"
  [canCreate]="true"
  [baseRoute]="'staff/courses'"
  [service]="courseService">

  <div list-filters class="filter-bar-content">
    <input
      pInputText
      [(ngModel)]="nameFilter"
      placeholder="Search by name"
      (keyup.enter)="search()" />
  </div>

  <ng-template listExtraActions let-course>
    <p-button icon="pi pi-list" severity="secondary" size="small" pTooltip="Add/Remove Classes" (onClick)="onAssignClasses(course)" />
    <p-button icon="pi pi-users" severity="secondary" size="small" pTooltip="Add/Remove Students" (onClick)="onAssignStudents(course)" />
  </ng-template>

</app-list-page-layout>